html,
body {
  padding: 0px;
  margin: 0px;
  color: #fff;
}
.kpgh {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  z-index: -1;
  color: #fff;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background: linear-gradient(
    135deg,
    #12054e,
    #110950,
    #101659,
    #0f2b68,
    #0c497c,
    #0a6f97,
    #069eb7,
    #02d4dc,
    #00f7f4
  );
}
.kp_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding-top: 3rem; */
  width: 100%;
}

.logo img {
  display: block;
  height: auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1 1;
}

.hero .message {
  width: 35%;
  /* padding-right: 4rem; */
}

.hero .message h1 {
  font-size: 2.4rem;
  font-weight: normal;
}

.hero .message p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/* .hero .hero_image{
    width:50%;
} */

.hero .hero_image img {
  width: 100%;
}
/* 
.kp_form {
  background-color: #fff;
  border-radius: 50px;

  padding: 0.2rem;
  width: 100%;
} */

button.kp_button {
  background-color: #e60b2b;
  color: #fff;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  border-radius: 50px;
}
.kp_form select {
  margin: 0px 0.5rem;
}

@media (max-width: 1025px) {
    .kp_logo img{
        /* display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0px 3rem; */
        width: 70%;
      }
    .form-group {
        margin-bottom: 0px;
    }
  .kp_form {
    border-radius: 30px !important;
  }
  .kp_form input,
  .kp_form select,
  .kp_form button {
    margin: 0.5rem 0px;
  }
  .kp_form button {
    display: bolck;
    width: 100%;
    margin: 0px;
  }
}
